@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  text-align: center;
  padding: 15px;
  border-radius: 18px;
}

.image-container img {
  border-radius: 18px;
  width: 275px;
}

.text-container {
  flex-wrap: wrap;
  width: 250px;
  margin: 10px;
}

.text-container h1 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
}

.text-container p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}

.attribution {
  font-size: 10px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

.attribution a {
  color: hsl(219, 65%, 39%);
}
